* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	font-family: 'Inconsolata', monospace;
}

a {
	text-decoration: none;
	color: #008FCC;
}

a:hover {
	color: #ff004d;
}

code {
	background: #ffb;
	color: black;
	font-size: 12px;
	padding: 2px 8px;
	border-radius: 4px;
	font-weight: bold;
}

pre {
	background: #ffb;
	padding: 16px;
}